body{max-width: 1600px;
    justify-content: center;
    margin: 20px 80px;


}
    


.head{
  Background:linear-gradient(to bottom,black, transparent),url(image/Banner\ Image.png);
height: 600px;
margin: 50px 144px;
border-radius: 16px;
text-align: center;
margin-bottom: 120px;
}


.bannerSubTitle{
    padding-top: 150px;
    margin-bottom: 0;
    color:#FFF ;
    font-size: 32px;
    font-weight: 400;
}
.bannerTitle{
    padding-top: 0;
    color: #FFF;
    margin-top: 0;
  font-size: 72px;
   font-style: normal;
  font-weight: 900;}
  

/* off part styles */

.offPart{
    text-align: center;
}

.OffTitle{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}

.offSubTitle{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.OffDescription{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 50px;
}

/* midParty section style */

.midnigtParty{
    display: flex;
    background-image: url(image/Vectorrr.png);
    background-repeat: no-repeat;
    align-self: center;
   background-size: cover;
   height: 600px;
   justify-content: space-between;
   padding: 120px;
   margin-top: 120px;
  
}

.midDes{color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;

}

.midDesription{
    color: rgba(255, 255, 255, 0.80);
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    
}

.button{color: #FFF;
text-align: left;
 font-size: 20px;
font-weight: 700;
background: 0;
border: 0;
}


/* place styles */

.placeSection{
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 32px;
    color: #070211;
    font-weight: 600;
    text-align: center;
    background-color: rgb(241, 189, 169);
    padding: 100px 385px 100px 385px;
}

.PlaceDecoration{color: #F00;
font-size: 32px;
font-weight: 600;
}
.button1{background-color: #F00;
    color: #FFF;
   font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
  padding: 10px;
}
/* coming soon part style */

.commingsoon{
    display: flex;
    margin: 120px  50px;
    
}

.soonDescrip,.soonMidImage,.YearPart{
    width: 33.3%;
}
.soonSubTitle{color: #F00;
font-size: 24px;
font-weight: 500;
}
.soonTitle{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.soonDescrip{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;

}

.YearDeco{
    width:33%;
    color: #F00;
   font-size: 48px;
   font-weight: 700;


}

.soonMidImage{
    border-radius: 5px;
    border-color: #F00;
    border: 80px;
    border-image: 10px;
    border-image-width: 10px;
}


.holiday{
    text-align: center;
}

.holidayTitle{
    color: #070211;
  font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
.holi{color: #F00;}
 .midImages{
    background-image: url("image/Rectangle 2.png");
   
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    
} 



/* portfolio Style */
.portfoilo{
    margin-left: 50px;
}

.portSubTitle{
color: #F00;
font-size: 24px;
font-weight: 500;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 120px;
}
.portTitle{
color: #070211;
font-size: 48px;
font-weight: 900;
margin-top: 10px;
margin-bottom: 5px;
}
.portDescrip{
color: rgba(7, 2, 17, 0.60);
width: 896px;
font-size: 20px;
font-weight: 400;
}

.images1{
    display: flex;
    
}
.images1 div{
    padding: 15px;
}
.images2 div{
    padding: 15px;
}
.images2{
    display: flex;
    
}


/* subsribe section styles */

.subscribeSection{
    margin-bottom: 120px;
}
.subsribeTitle{
    color: #070211;

    font-size: 48px;
   font-weight: 900;
}

.subsribeDescrip{
    text-align: center;
    width: 896px;
    color: rgba(7, 2, 17, 0.60);

    width: 896px;


font-size: 20px;

font-weight: 400;
line-height: 32px;
}


/* subsribe area styles */
.subscribeSection{
    
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(241, 189, 169);
    padding-top: 80px;
    padding-bottom: 80px;
}
.subsribeDescrip{
    text-align: center;
    padding-left: 300px;
}


input{
    width: 648px;
height: 65px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}
.buttonSub{margin-left: -50px;
    width: 210px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
color: #FFF;
font-size: 20px;
}





/* footer style section */
footer{background: #070211;
padding: 250px;
justify-content: space-around;}

.foot1{display: flex;
justify-items: auto;
justify-content: space-between;
margin-bottom: 20px;
text-justify: auto;}

.sociaLink{display: flex;
margin-top: 20px;
margin-bottom: 20px;
justify-content: center;}

footer img {margin-left: 20px;
padding: 20px;
align-items: center;}

.footdiv11,.footdiv12{color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
align-self: auto;
justify-content: center;}

.LastPart{display: flex;
justify-content: space-between}
.copyright{color: #FFF;
font-size: 24px;
font-weight: 500;}

.unsub{color: #FFF;
font-size: 24px;
font-weight: 500;
margin-top: 25px;}

